# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Work3.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Johan\source\repos\Work3\.idea\.idea.Work3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
